body{
background-image: url("image.jpg");
}
.container{
    max-width: 60%;
    text-align: center;
}
img{
    width: 2000px;
    height: 1000px;
}
header{
    text-align: center;
    color: yellow;
}
.afterTitle{
    color: aliceblue;
    text-align: center;
}
hr{
width: 60%;
align-items: center;
}
.afterHR{
    text-align: center;
    color: yellow;
    margin-top: 50px;
}
.list{
    align-items: center;
    margin-left: 600px;
}
footer{
    text-align: center;
    margin-top: 300px;
    background-color: white;
}